<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/navbar}">

<!--<th:block layout:fragment="script">-->

<!--</th:block>-->

<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:30%;
            margin-right:30%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .card{
            width:750px;
            height:100%;
            padding:30px;
            margin-bottom:20px;
        }
        #review-writer{
            float: right;
        }
    </style>

</th:block>

<div layout:fragment="content" class="content-mg">
    <h2 class="mb-4">
        리뷰 목록
    </h2>
    <div class="row"  th:each="review: ${reviews}">
        <div class="card">
            <div class="card-header">
                <span th:text="${'⭐'.repeat(review.star)}"></span>
                <span id="review-writer">작성자 : [[${review.writer}]]</span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>[[${review.content}]]</p>
                    <footer class="blockquote-footer">[[${review.registerTime}]]</footer>
                </blockquote>
            </div>
        </div>
    </div>

</div>
</html>