<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/navbar}">

<th:block layout:fragment="script">
    <script>
        function deleteReview(reviewId){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            if(token && header) {
                $(document).ajaxSend(function(event, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
            }

             var url = "/review/" + reviewId;

            $.ajax({
                url      : url,
                type     : "DELETE",
                 dataType : "json",
                cache   : false,
                success  : function(result, status){
                    document.location.reload();
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/user/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }
                }
            });

        }
    </script>

</th:block>

<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:30%;
            margin-right:30%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .card{
            width:750px;
            height:100%;
            padding:30px;
            margin-bottom:20px;
        }
        #review-writer{
            float: right;
        }
    </style>

</th:block>

<div layout:fragment="content" class="content-mg">
    <h2 class="mb-4" style="text-align: center">
        리뷰 목록
    </h2>
    <div class="row"  th:each="review: ${reviews}">
        <div class="card">
            <div class="card-header">
                <span th:text="${'⭐'.repeat(review.star)}"></span>
                <span id="review-writer">작성자 : [[${review.writer}]]</span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>[[${review.content}]]</p>
                    <footer class="blockquote-footer">[[${review.registerTime}]]</footer>
                    <div>
                        <button class="btn btn-outline-secondary" type="button" th:if="${#authentication.name==review.writer}" th:onclick="|location.href='@{|/review/${review.id}|}'|">수정</button>
                        <button class="btn btn-outline-secondary" th:if="${#authentication.name==review.writer}" th:value="${review.id}" onclick="deleteReview(this.value)">삭제</button>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{/reviews/{itemId}(itemId=${itemId},page=1)}">첫 페이지 </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="${reviews.first} ? '#' : @{/reviews/{itemId}(itemId=${itemId},page=${reviews.number})}"> 이전 </a>
            </li>

            <span class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}">

                <li class="page-item active" th:if="${page == reviews.number + 1}">
                    <a class="page-link" th:text="${page}"></a>
                </li>
                <li class="page-item" th:unless="${page == reviews.number + 1}">
                    <a class="page-link" th:href="@{/reviews/{itemId}(itemId=${itemId}, page=${page})}" th:text="${page}"></a>
                </li>
            </span>
            <li class="page-item">
                <a class="page-link" th:href="${reviews.last} ? '#' : @{/reviews/{itemId}(itemId=${itemId},page=${reviews.number + 2})}"> 다음 </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/reviews/{itemId}(itemId=${itemId},page=${reviews.totalPages})}"> 마지막 페이지</a>
            </li>

        </ul>
    </div>
</div>
</html>