<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/navbar}">

<!--<th:block layout:fragment="script">-->

<!--</th:block>-->

<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:30%;
            margin-right:30%;
            margin-top:2%;
            margin-bottom:100px;
        }
    </style>

</th:block>

<div layout:fragment="content" class="content-mg">
    <h2 class="mb-4">
        리뷰 목록
    </h2>
    <div class="row"  th:each="review: ${reviews}">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">평점</span>
                <input th:value="${'⭐'.repeat(review.star)}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <textarea class="form-control"  aria-label="With textarea" th:text="${review.content}"></textarea>
            </div>
    </div>

</div>
</html>